a{
	color:white;
	text-decoration:none;
}

#logo{
	color: #f2b705;
	font-weight: normal;
	font-family: 'Lora', serif;
	font-size: 75px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
	text-align:center;
	position:relative;
	

}

#logout{
	cursor:pointer;
}

#logodiv{
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top:0;
}

#backbutton{
	top:5px;
	left:5px;
}

#logout{
	float:right;
}

body{
	background-color:#6093bf;
	overflow-y: scroll;
}

#title{
	font-family: 'Belleza', sans-serif;
	text-align:center;
	font-size:55px;
	color:white;
	padding-top:10px;
}

#loginForm{
	font-family: 'Belleza', sans-serif;
	text-align:center;
	font-size:24px;
	color:white;
	padding-top:150px;
}

#hello{
	color:white;
	font-size:17px; 
}

#nav ul { 
	list-style:none;
	text-align:center;
	padding:5px 0; 
}

#nav ul li { 
	display:inline;
	text-transform:uppercase;
	padding-right:10px;
	padding-bottom:5px;
	float:left;
	color:white;
}

#searchbar{
	float:right;
	color:white;
	text-transform:uppercase;
}

#feeddiv li{
	width:100%;
	height:55px;
	list-style:none;  
	text-align:center;
	border:solid 1px #f2b705;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(0,83,149, 0.7);
	background: rgba(0,83,149, 0.7);
	color: rgba(208, 203, 205, 0.7);
	position:relative;
	padding-top:5px;
	font-size:18px;
	margin-right:1px;
	margin-left:1px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	vertical-align:middle;
}

#sections li{
	width:100%;
	height:100px;
	list-style:none;  
	text-align:center;
	border:solid 1px #f2b705;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(0,83,149, 0.7);
	background: rgba(0,83,149, 0.7);
	color: rgba(208, 203, 205, 0.7);
	position:relative;
	padding-top:5px;
	font-size:60px;
	margin-right:1px;
	margin-left:1px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	vertical-align:middle;
}

#nav ul li a:hover{
	color:#F28705;
}

li a{
	display:block;
}

#feeddiv li:hover{
	background-color:#6DACDE;
	webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;

}

#sections li:hover{
	background-color:#6DACDE;
	webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}