#container{
	height:100%;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	color:white;
	background-color:gray;
	padding:2px 5px;
	box-shadow:5px 5px 5px black;
}

body{
	font-family: Century Gothic, sans-serif;
	background-color:#222222;
}

*{
	font-size:16px;
}

article{
	margin-bottom:8px;
}

h1{
	font-size:60px;
	margin-top:-10px;
}

#title{
	text-align:center;
}

h2{
	font-size:48px;
	text-align:center;
}

h3{
	font-size:32px;
	margin-bottom:-5px;
}

h1,h2,h3{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
	color:#F6F9F9 ;
}

table{
	width:500px;
	border-collapse:collapse;

}

#wireframes{
	width:100%;
}

th{
	font-size:18px;
}

td, th {
  border: 1px solid black;
  padding: 0.5rem;
  text-align:center;
}

img{
	padding-top:5px;
}